USE [UniversityERP]
GO
/****** Object:  StoredProcedure [dbo].[sp_NewAdmissionAdmissionInfo]    Script Date: 8/13/2026 3:07:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_NewAdmissionAdmissionInfo]
(
    @Flag NVARCHAR(20),
    @ApplicationId INT,

    @AcademicStream      NVARCHAR(100) = NULL,
    @AcademicSessionName NVARCHAR(60)  = NULL,
    @Degree              NVARCHAR(100) = NULL,
    @Branch              NVARCHAR(100) = NULL,
    @AcademicBatch       NVARCHAR(50)  = NULL,
    @Enrollment          NVARCHAR(50)  = NULL,
    @AcademicYear        NVARCHAR(20)  = NULL,
    @Semester            NVARCHAR(20)  = NULL,
    @Scheme              NVARCHAR(50)  = NULL,
    @ClassSection        NVARCHAR(20)  = NULL,
    @RollNumber          NVARCHAR(30)  = NULL,
    @AdmissionSetupId INT = NULL,
@CategoryId INT = NULL,
    @DateOfAdmission     DATE          = NULL,
    @AdmissionCategory   NVARCHAR(50)  = NULL,
    @FeesCategory        NVARCHAR(50)  = NULL,
    @Shift               NVARCHAR(30)  = NULL,
    @EntranceExamRegNo   NVARCHAR(50)  = NULL,
    @EntranceExamMeritNo NVARCHAR(50)  = NULL,
    @ReferenceName       NVARCHAR(100) = NULL

)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Flag = 'UPDATE'
    BEGIN
        UPDATE dbo.Application
        SET AcademicStream = @AcademicStream, AcademicSessionName = @AcademicSessionName,
            Degree = @Degree, Branch = @Branch, AcademicBatch = @AcademicBatch,
            Enrollment = @Enrollment, AcademicYear = @AcademicYear, Semester = @Semester,
            Scheme = @Scheme, ClassSection = @ClassSection, RollNumber = @RollNumber,
            DateOfAdmission = @DateOfAdmission, AdmissionCategory = @AdmissionCategory,
            FeesCategory = @FeesCategory, Shift = @Shift, EntranceExamRegNo = @EntranceExamRegNo,
            EntranceExamMeritNo = @EntranceExamMeritNo, ReferenceName = @ReferenceName
        WHERE ApplicationId = @ApplicationId;
    END

    IF @Flag = 'GETBYID'
    BEGIN
        SELECT ApplicationId, ApplicationNo,
               AcademicStream, AcademicSessionName, Degree, Branch, AcademicBatch,
               Enrollment, AcademicYear, Semester, Scheme, ClassSection, RollNumber,
               DateOfAdmission, AdmissionCategory, FeesCategory, Shift,
               EntranceExamRegNo, EntranceExamMeritNo, ReferenceName
        FROM dbo.Application
        WHERE ApplicationId = @ApplicationId;
    END
END
USE [UniversityERP]
GO
/****** Object:  StoredProcedure [dbo].[sp_NewAdmissionAdmissionInfo] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_NewAdmissionAdmissionInfo]
(
    @Flag NVARCHAR(20),
    @ApplicationId INT,

    @AcademicStream      NVARCHAR(100) = NULL,
    @AcademicSessionName NVARCHAR(60)  = NULL,
    @Degree              NVARCHAR(100) = NULL,
    @Branch              NVARCHAR(100) = NULL,
    @AcademicBatch       NVARCHAR(50)  = NULL,
    @Enrollment          NVARCHAR(50)  = NULL,
    @AcademicYear        NVARCHAR(20)  = NULL,
    @Semester            NVARCHAR(20)  = NULL,
    @Scheme              NVARCHAR(50)  = NULL,
    @ClassSection        NVARCHAR(20)  = NULL,
    @RollNumber          NVARCHAR(30)  = NULL,
    @DateOfAdmission     DATE          = NULL,
    @AdmissionCategory   NVARCHAR(50)  = NULL,
    @FeesCategory        NVARCHAR(50)  = NULL,
    @Shift               NVARCHAR(30)  = NULL,
    @EntranceExamRegNo   NVARCHAR(50)  = NULL,
    @EntranceExamMeritNo NVARCHAR(50)  = NULL,
    @ReferenceName       NVARCHAR(100) = NULL,
    @AdmissionSetupId    INT           = NULL,
    @CategoryId          INT           = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Flag = 'UPDATE'
    BEGIN
        UPDATE dbo.Application
        SET AcademicStream = @AcademicStream, AcademicSessionName = @AcademicSessionName,
            Degree = @Degree, Branch = @Branch, AcademicBatch = @AcademicBatch,
            Enrollment = @Enrollment, AcademicYear = @AcademicYear, Semester = @Semester,
            Scheme = @Scheme, ClassSection = @ClassSection, RollNumber = @RollNumber,
            DateOfAdmission = @DateOfAdmission, AdmissionCategory = @AdmissionCategory,
            FeesCategory = @FeesCategory, Shift = @Shift, EntranceExamRegNo = @EntranceExamRegNo,
            EntranceExamMeritNo = @EntranceExamMeritNo, ReferenceName = @ReferenceName,
            AdmissionSetupId = @AdmissionSetupId,
            CategoryId = @CategoryId,
            Stage = 'Admission Info Saved'
        WHERE ApplicationId = @ApplicationId;
    END

    IF @Flag = 'GETBYID'
    BEGIN
        SELECT ApplicationId, ApplicationNo,
               AcademicStream, AcademicSessionName, Degree, Branch, AcademicBatch,
               Enrollment, AcademicYear, Semester, Scheme, ClassSection, RollNumber,
               DateOfAdmission, AdmissionCategory, FeesCategory, Shift,
               EntranceExamRegNo, EntranceExamMeritNo, ReferenceName,
               AdmissionSetupId, CategoryId
        FROM dbo.Application
        WHERE ApplicationId = @ApplicationId;
    END
END


SELECT ApplicationId, AdmissionSetupId, CategoryId, Stage FROM Application ORDER BY ApplicationId DESC;

SELECT * FROM AdmissionSetup WHERE Status = 'Open';