USE [UniversityERP]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentRecords]    Script Date: 8/17/2026 11:07:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_StudentRecords]
(
    @Flag       NVARCHAR(20),
    @StudentId  NVARCHAR(20) = NULL,
    @Status     NVARCHAR(20) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Flag = 'GETALL'
    BEGIN
        SELECT s.StudentId, s.FullName AS Name, c.CourseName, cat.CategoryName AS Category,
               a.SessionName AS Session, s.SeatNumber, s.CreatedDate AS AdmittedOn, s.Status
        FROM dbo.Student s
        LEFT JOIN dbo.CourseMaster c ON c.CourseId = s.CourseId
        LEFT JOIN dbo.Category cat ON cat.CategoryId = s.CategoryId
        LEFT JOIN dbo.AcademicSession a ON a.AcademicSessionId = s.AcademicSessionId
        ORDER BY s.CreatedDate DESC;
    END

    IF @Flag = 'GETBYID'
    BEGIN
        SELECT s.StudentId, s.FullName AS Name, c.CourseName, cat.CategoryName AS Category,
               a.SessionName AS Session, s.SeatNumber, s.CreatedDate AS AdmittedOn, s.Status
        FROM dbo.Student s
        LEFT JOIN dbo.CourseMaster c ON c.CourseId = s.CourseId
        LEFT JOIN dbo.Category cat ON cat.CategoryId = s.CategoryId
        LEFT JOIN dbo.AcademicSession a ON a.AcademicSessionId = s.AcademicSessionId
        WHERE s.StudentId = @StudentId;
    END

    IF @Flag = 'UPDATESTATUS'
    BEGIN
        UPDATE dbo.Student SET Status = @Status WHERE StudentId = @StudentId;
    END
    ELSE IF @Flag = 'GETDEPTWISE'
BEGIN
    SELECT dm.DepartmentName, COUNT(*) AS StudentCount
    FROM Student s
    INNER JOIN CourseMaster c ON c.CourseId = s.CourseId
    INNER JOIN DepartmentMaster dm ON dm.DepartmentId = c.DepartmentId
    GROUP BY dm.DepartmentName
    ORDER BY StudentCount DESC;
END
END
